<section class="auth-section">
  <div class="wrapper">
    <h1 class="auth-title">{{title}}</h1>
    <form method="post" class="auth-form" id="auth-form">
      {{{ inputs }}}
    </form>
    <div class="btns">
      {{{submit_btn}}}
      <div class="links">
        {{{ links }}}
      </div>
    </div>
  </div>
</section>
