<section class="auth-section">
  <div class="wrapper">
    <h1 class="auth-title">{{title}}</h1>
    <form method="post" class="auth-form" id="auth-form">
      {{{ inputs }}}
    </form>
    <div class="btns">
      <button type="submit" class="submit-btn">{{submit_btn}}</button>
      <div class="links">
        {{!-- {{#each links}}
        <a>{{this}}</a>
        {{/each}} --}}
      </div>
    </div>
  </div>
</section>
