<form class="modal-form">
  <input class="modal-input" type="text" placeholder="Введите название нового чата" required>
  <button class="modal-btn" id="modalBtn" type="submit">Создать</button>
</form>