<div class="chat-list">
  <div class="chat-settings">
    <p class="chat-text">My profile</p>
  </div>
  {{{chats}}}
  <button class="chat-list__add-btn" id="addChat">
    <span></span>
    <span></span>
  </button>
</div>
