<section class="settings">
  <div class="settings-wrap">
    <div class="settings-block">
      <img class="avatar" src="/images/avatar.png" alt="Аватар">
      <h1 class="greetings">Привет, {{name}}!</h1>
      <form class="settings-form" method="post">
        {{{profile_settings}}}
      </form>
      <div class="settings-btns-wrap">
        {{{buttons_settings}}}
      </div>
    </div>
  </div>
</section>
