<div class="modal_blackout">
  <div class="modal">
    <button class="modal__close-btn" id="modalClose">
      <span></span>
      <span></span>
    </button>
    <h1 class="modal-title">{{title}}</h1>
    {{{content}}}
  </div>
</div>