<div class="chat-list__item active-chat_{{activeChat}}">
  <div class="chat-list__item-img"></div>
  <div class="chat-list__item-inf">
    <h3>{{interlocutorName}}</h3>
  </div>
  <div class="chat-list__item-time">
    <p>12:23</p>
    <span class="chat-list__item-check check-{{isRead}}"></span>
  </div>
</div>
